body {
    margin: 0;
}


.header-ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

img {
    height: auto;
    width: 100%;
}

.title {
    position: relative
}

.title-text {
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-end {
    color: white;
    font-size: 48px;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title-mid {
    color: white;
    font-size: 72px;
    margin: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.donate-button-and-text {
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 90%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.donate-button {
    margin: 0 0 16px 0;
    padding: 8px;
    font-size: 36px;
    border-radius: 24px;
}

.donate-button-and-text p {
    color: white;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.if-to-do {
    display: flex;
}

.if-to-do p {
    display: flex;
    width: 350px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.sub-if-to-do {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0 0;
}

.sub-if-to-do p {
    width: 500px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
}

.ways-to-help {
    display: flex;
}

.ways-to-help p {
    width: 500px;

}

.ways-to-help ul {
    margin: 20px;
}

.ways-to-help-bottom-text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.blog-post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.blog {
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.blog-date {
    margin-left: 16px;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
}

.footer-button-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-button-container button {
    margin: 8px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links p {
    margin: 8px;
}

.footer-3 {
    display: flex;
    justify-content: space-between;
}